.section {
  position: relative;
  height: 432px;
  box-sizing: border-box;
  padding: 64px 32px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.repo-list {
  margin: 0;
  list-style: none;
}

.repo {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 6px 12px;
  margin-bottom: 8px;
}

.heading {
  font-size: 14px;
  margin: 0 0 5px;
}

.language,
.stars,
.forks,
.updated {
  position: relative;
  font-size: 12px;
  color: #999999;
}

.language {
  padding-left: 20px;
}

.stars,
.forks {
  padding-left: 35px;
}

.updated {
  padding-left: 17px;
}

.language::before,
.stars::before,
.forks::before {
  position: absolute;
  content: '';
  top: -1px;
  width: 16px;
  height: 16px;
}

.language::before {
  left: 0;
  clip-path: circle(8px);
  background-color: limegreen;
}

.stars::before {
  left: 15px;
  background: url('../../img/star.svg') center center no-repeat;
  background: url('../../img/snafu.svg')
}

.forks::before {
  left: 15px;
  background: url('../../img/fork.svg') center center no-repeat;
}

.html::before {
  background-color: #e34c26;
}

.css::before {
  background-color: #563d7c;
}

.php::before {
  background-color: #4f5d95;
}

.button {
  position: absolute;
  bottom: 22px;
  padding: 8px 16px;
  border: 1px solid #999999;
  border-radius: 37px;
  background-color: #fff;
}

.button-back {
    left: 273px;
}

.button-next {
    left: 354px;
}

.button:enabled:hover {
    cursor: pointer;
    opacity: 0.7;
}

button:enabled:active {
    opacity: 0.5;
}

.section_snafu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
}

.subheading {
    margin-bottom: auto;
    font-size: 16px;
}

.paragraph {
    align-self: center;
}